<div class="product-grid wow fadeInUp">
  <div class="text-center image-container">
    <img class="b-lazy rounded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{.Params.thumbnailImage | absURL }}" alt="{{.Title}}"/>
  </div>
  <div class="product-grid-text">
    <h5><a href="{{.RelPermalink}}">{{.Title}}</a></h5>

      {{ if .Params.summary }}
          <p>{{ .Params.summary | plainify | safeHTML | truncate 60 }}</p>
      {{else}}
          <p>{{ .Summary | plainify | safeHTML | truncate 60 }} </p>
      {{end}}
      {{if .Params.actualPrice }}
        <p class="text-pink">
          <strong><span class="text-ngn">N</span> <span class="number">{{.Params.actualPrice}}</span> / <span>{{.Params.uniteMeasure}}</span></p></strong>
        {{else}}
        <p class="text-pink"><strong>No Price</strong></p>
      {{end }}

    <p>
      <a class="btn btn-pink btn-sm wow slideInLeft" href="{{.RelPermalink}}">
        View
        <i class="icofont icofont-long-arrow-right"></i></a></p>
  </div>
</div>
