<h3>{{ .Title }}</h3>
<h6>Price: <span class="text-ngn">N</span> <span class="number">{{.Params.actualPrice}}</span></h6>
<ul>
  <li>Unit of Measurement is in {{.Params.uniteMeasure}}</li>
  <li>Compare Price: <span class="text-ngn">N</span> <span class="number">{{.Params.comparePrice}}</span></li>
  <li>Availablity Status:
    {{if .Params.inStock}}
    <span class="text-success"> In Stock</span>
    {{else}}
      <span class="text-muted"> Out of Stock</span>
    {{end}}
 </li>
</ul>
<p>{{ .Params.summary}}</p>
<p>
    {{ range $index, $element := .Params.options }}
    <span>{{ $index | humanize }}</span>
    <select class="select-{{ $index }}">
       {{ range $element  }}
        <option>{{ . }}</option>
      {{ end }}
    </select>
    {{ end }}
</p>
<p>
<a class="btn btn-md btn-green wow slideInLeft d-md-block d-lg-none" href="tel:{{.Site.Params.contactNumber}}">Call Us</a> &nbsp;
<a onclick="messageUs({{.Title}},{{.Params.actualPrice}})" class="btn btn-md btn-pink wow slideInRight" href="/contact/">Message Us</a></p>
</p>

<script>
    var productActualPrice  = {{ .Params.actualPrice }}
    var productComparePrice  = {{ .Params.comparePrice }}
    var productInStock = {{ .Params.inStock }}
    var productVariants = JSON.parse({{ .Params.variants | jsonify }})
</script>
