{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "products") }}
<section class="section-padding-1 dark-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center text-light">Our Products</h2>
      </div>
      {{ range first 6 $paginator.Pages }}
        <div class="col-md-4">
            {{ partial "products/single/product-item.html" . }}
        </div>
      {{end}}
      <p class="mt-5">
        <a class="btn btn-md btn-pink wow slideInUp" href="{{$.Site.BaseURL}}{{"products/"}}"> View All Products</a>
      </p>
    </div>
  </div>
</section>
