<script src="{{"js/jquery.min.js" | absURL }}"></script>
<script src="{{"js/bootstrap.min.js" | absURL }}"></script>
<script src="{{"js/bootstrap-navbar.js" | absURL }}"></script>
<script src="{{"js/wow.min.js" | absURL }}"></script>
<script src="{{"js/numscroller-1.0.js" | absURL }}"></script>
<script src="{{"js/magnific-popup.min.js" | absURL }}"></script>
<script src="{{"js/jquery.isotope.min.js" | absURL }}"></script>
<script src="{{"js/owl.carousel.js" | absURL }}"></script>
<script src="{{"js/particles.min.js" | absURL }}"></script>
<script src="{{"js/app.js" | absURL }}"></script>
<script src="{{"js/main.js" | absURL }}"></script>
