<nav id="navbar-4" class="navbar navbar-expand-lg btco-hover-menu navbar-4">
  <div class="container">
    <a class="navbar-brand" href="{{$.Site.BaseURL}}">
      <img id="logo-2" class="logo" src="{{$.Site.Params.logo_2 | absURL}}" alt="{{$.Site.Title}}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ "/" | absURL }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ "products/" | absURL }}">Products</a>
        </li>
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Permalink }}">{{ .Title | title }}</a>
        </li>
        {{ end }}
        <li class="nav-item"> <a class="nav-link" href="{{$.Site.BaseURL}}{{"contact/"}}"> Contact us</a></li>
      </ul>

    </div>
  </div>
</nav>
